.navbar {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 5rem;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 0 6rem;
}

.navbar__item {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
}

.navbar__item:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transition-property: all;
  transition-duration: 500ms;
  cursor: pointer;
}