.todo {
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__subcontainer {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.todo__text {
    font-weight: 500;
    min-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}
